.pl{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 100px;

    &__text{
        text-align: center;
        width: 70%;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
}