.p{
width: 30%;
height: 40vh;
border: 1px solid rgb(206, 206, 206);
margin: 20px 10px;
text-align: center;
border-radius: 10px 10px 0 0 ;
overflow: hidden;

    &__browser{
        position: sticky;
        z-index: 5;
        height: 20px;
        background-color: rgb(206, 206, 206);
        display: flex;
        align-items: center;

        padding-left: 5px;

        &-circle{
            width: 5px;
            height: 5px;
            background-color:white;
            border-radius:50%;
            margin: 3px;
        }
    }
    &__img{
        width: 100%;
        transition: 10s all ease;
        &:hover{
            transform: translateY(-80%);
        }
    }
}